body {
  /* color: var(--primary-text-color); */
  font-family: roboto;
}

.link {
  text-decoration: none;
}

ul {
  list-style: none;
}

/* s */

/* текст колір основновний  #757575  */
/* текст колір додатковий #212121  */

/* кнопка білий #FFFFFF */
/* колір акцент #2196F3  */

/* фон основний #F5F5F5 */
/* фон вторинний #F5F4FA  */
/* фон hero #2F303A */

:root {
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --button-text-color: #ffffff;
  --accent-color: #2196f3;
  --hero-color: #2f303a;
}

/* nav */
.link-webstudio {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.logo-web {
  color: #2196f3;

  font-weight: 700;
}

.logo-studio {
  color: #000000;

  font-weight: 700;
}

.site-nav .link,
.auth-nav .link {
  color: var(--secondary-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.416px;
  letter-spacing: 0.02em;
}

.site-nav .current {
  color: var(--accent-color);
}

.site-nav a:hover,
.site-nav a:focus,
.auth-nav a:hover,
.auth-nav a:focus {
  color: var(--accent-color);
}

/* hero */
.hero {
  background-color: var(--hero-color);
}

.hero-title {
  color: var(--button-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  text-align: center;
  letter-spacing: 0.06em;
}
.hero button {
  color: var(--button-text-color);
  background-color: var(--accent-color);
}

/* advantages */
.title {
  color: var(--secondary-text-color);
}

.advantages-title {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
}
.title-list {
  color: var(--primary-text-color);
}

.advantages-text {
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
}

/* what we do */
.what-wedo {
  color: var(--secondary-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
}

/* our team */
.team {
  color: var(--secondary-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
}

.team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;
}

.team-title-list {
  font-weight: 400;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;
}

/* footer */

.adress a {
  font-style: normal;
}
.adress {
  background-color: #2f303a;
}
.adress .adress-town {
  color: #fff;
}
.adress .adress-mail {
  color: rgba(255, 255, 255, 0.6);
}
.adress .adress-tel {
  color: rgba(255, 255, 255, 0.6);
}

/* portfolio.html */

/* filter */

.filter-list {
  color: var(--secondary-text-color);
  background-color: #f5f4fa;
}

.filter-list:hover,
.filter-list:focus {
  color: var(--button-text-color);
  background-color: var(--accent-color);
}
